<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Microoft Graph Template</title>

  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <p>Pode fazer qualquer alteração estilos ou integrações.</p>
  <p>Qualquer dúvida: https://discord.gg/NqZTwBM</p>
  <main id="main-container" role="main" class="container">
  </main>

  <!-- MSAL -->
  <script src="https://alcdn.msauth.net/browser/2.1.0/js/msal-browser.min.js"
          integrity="sha384-EmYPwkfj+VVmL1brMS1h6jUztl4QMS8Qq8xlZNgIT/luzg7MAzDVrRa2JxbNmk/e"
          crossorigin="anonymous"></script>

  <!-- Graph SDK -->
  <script src="https://cdn.jsdelivr.net/npm/@microsoft/microsoft-graph-client/lib/graph-js-sdk.js"></script>

  <script src="config.js"></script>
  <script src="ui.js"></script>
  <script src="auth.js"></script>
  <script src="graph.js"></script>
</body>
</html>
